body{
    background-color: orange;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

.gameContainer{
    position: relative;
    margin: 0 auto;
    width: 352px;
    height: 198px;
    outline: 3px solid white;
    transform: scale(3) translateY(40%);
}

.gameContainer canvas{
    image-rendering: pixelated;
}